<header id="hero-area" data-stellar-background-ratio="0.5">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo" style="padding:0; background-color: black; margin-bottom: 20px;">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a  class="navbar-brand"><img class="img-fulid" id="nav-logo" src="img/logo/white2.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/team">Our Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/corpgov">Corporate Governance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/contact">Contact</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="/team">Our Team</a>
                <ul class="sub-menu sub-alt">
                  <li class="sub-nav-item">
                    <a href="/blank">Mission</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Vision</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Leadership</a>
                  </li>
                </ul> 
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/blank">Cell Science</a>
                <ul class="sub-menu sub-alt">
                  <li class="sub-nav-item">
                    <a href="/blank">Team</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Technology</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Patents</a>
                  </li>
                </ul> 
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/contact">Investors</a>
                <ul class="sub-menu sub-alt">
                  <li class="sub-nav-item">
                    <a href="/blank">Overview</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/investors">News and Events</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Stock Information</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Corporate Governance</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Resources</a>
                  </li>
                </ul> 
              </li> -->
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
          <li>
            <a class="page-scroll bold" href="/">Home</a>
          </li>
          <li>
            <a class="page-scroll bold" href="/team">Our Team</a>
          </li>
          <li>
            <a class="page-scroll bold" href="/news">News</a>
          </li>
          <li>
            <a class="page-scroll bold" href="/corpgov">Corporate Governance</a>
          </li>
          <li>
            <a class="page-scroll bold" href="/contact">Contact</a>
          </li>
           
          <!--<div class="mobile-sub">
            <li>
              <a href="/blank">Mission</a>
            </li>
            <li>
              <a href="/blank">Vision</a>
            </li>
            <li>
              <a href="/blank">Leadership</a>
            </li>
          </div>
          
          <li>
            <a class="page-scroll bold" href="/blank">Cell Science</a>
          </li>
          <div class="mobile-sub">
            <li>
              <a href="/blank">Team</a>
            </li>
            <li>
              <a href="/blank">Technology</a>
            </li>
            <li>
              <a href="/blank">Patents</a>
            </li>
          </div>
          <li>
            <a class="page-scroll bold" href="/contact">Investors</a>
          </li>
          <div class="mobile-sub">
            <li>
              <a href="/blank">Overview</a>
            </li>
            <li>
              <a href="/investors">News and Events</a>
            </li>
            <li>
              <a href="/blank">Stock Information</a>
            </li>
            <li>
              <a href="/blank">Corporate Governance</a>
            </li>
            <li>
              <a href="/blank">Resources</a>
            </li>
          </div> -->
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      
      
    </header>