<header id="hero-area" data-stellar-background-ratio="0.5">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo" style="padding:0; background-color: black; margin-bottom: 20px;">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a  class="navbar-brand light-logo"><img class="img-fulid" id="nav-logo" src="img/logo/BakhuHoldings_Logo_Horizontal_ColorLight.png" alt=""></a>
            <a  class="navbar-brand dark-logo"><img class="img-fulid" id="nav-logo" src="img/logo/BakhuHoldings_Logo_Horizontal_ColorDark.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="/team">Our Team</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="/news">News & Media</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="/corpgov">Corporate Governance</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="/contact">Contact</a>
              </li> -->



              <li class="nav-item">
                <a class="nav-link page-scroll" href="/our-story">About Us</a>
                <ul class="sub-menu sub-alt">
                  <li class="sub-nav-item">
                    <a href="/our-story">Our Story</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/management">Management</a>
                  </li>
                </ul> 
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="/blank">Cell Science</a>
                <ul class="sub-menu sub-alt">
                  <li class="sub-nav-item">
                    <a href="/blank">Team</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Technology</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Patents</a>
                  </li>
                </ul> 
              </li> -->
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/stock-info">Investors</a>
                <ul class="sub-menu sub-alt">
                  <li class="sub-nav-item">
                    <a href="/stock-info">Stock Info</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/secfilings">SEC Filings</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/corpgov">Corporate Governance</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/investors">Investor Relations / Transfer Agent</a>
                  </li>
                </ul> 
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/news">News & Media</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
          <li>
            <a class="page-scroll bold" href="/">Home</a>
          </li>
          <li>
            <a class="page-scroll bold" href="/our-story">About Us</a>
          </li>
          <!-- <li>
            <a class="page-scroll bold" href="/news">News</a>
          </li>
          <li>
            <a class="page-scroll bold" href="/corpgov">Corporate Governance</a>
          </li> -->
          <!-- <li>
            <a class="page-scroll bold" href="/contact">Contact</a>
          </li> -->
           
          <div class="mobile-sub">
            <li>
              <a href="/our-story">Our Story</a>
            </li>
            <li>
              <a href="/management">Management</a>
            </li>
          </div>
          
          <!-- <li>
            <a class="page-scroll bold" href="/blank">Cell Science</a>
          </li>
          <div class="mobile-sub">
            <li>
              <a href="/blank">Team</a>
            </li>
            <li>
              <a href="/blank">Technology</a>
            </li>
            <li>
              <a href="/blank">Patents</a>
            </li>
          </div> -->
          <li>
            <a class="page-scroll bold" href="/contact">Investors</a>
          </li>
          <div class="mobile-sub">
            <li>
              <a href="/stock-info">Stock Info</a>
            </li>
            <li>
              <a href="/secfilings">SEC Filings</a>
            </li>
            <li>
              <a href="/corpgov">Corporate Governance</a>
            </li>
            <li>
              <a href="/investors">Investor Relations / Transfer Agent</a>
            </li>
          </div>
          <li>
            <a class="page-scroll bold" href="/news">News & Media</a>
          </li>
          <li>
            <a class="page-scroll bold" href="/contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      
      
    </header>