/* only small desktops */
/* tablets */
@media (max-width: 991px) and (min-width: 756px) {
  #nav-logo {
    width: 20%; }
  .navbar-brand {
    width: 50%; } }
  @media (max-width: 991px) and (min-width: 756px) and (max-width: 680px) {
    .navbar-brand {
      width: 80%; } }

/* only small tablets */
/* mobile or only mobile */
@media (max-width: 767px) {
  .section {
    padding: 140px 0; }
  .section-header .section-title {
    font-size: 20px; }
  #features .show-box img {
    display: none; }
  #features .box-item .text h4 {
    font-size: 14px; }
  .controls {
    margin: 0px; }
    .controls .btn {
      font-size: 13px;
      padding: 7px 7px; }
  .video-promo .video-promo-content h2 {
    font-size: 22px; }
  .pricing-table {
    margin-bottom: 15px; }
  .counters .facts-item {
    margin-bottom: 30px; }
  .single-team {
    margin-bottom: 15px; }
  .contact-us {
    margin-bottom: 30px; }
  .contact-us h3 {
    font-size: 28px; }
  .footer-links li a {
    margin-right: 10px; }
  .copyright {
    float: left; } }
