  <!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  

     <!-- Contact Section Start -->
     <section id="contact" class="section" data-stellar-background-ratio="-0.2" style="min-height: 92vh;">      
      <div class="contact-form" style="padding-top: 3%;">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Contact Us</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          </div>
          <div class="row contact-us wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                
               
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <p>One World Trade Center, Suite 130, Long Beach, CA 90831</p>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <p class="phone"><span>(858) 68-BAKHU/ (858) 682-2548</span></p>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <p class="email"><span>info@bakhuholdings.com</span></p>
                  </div>
                  
                </div>

                <!-- <div class="social-icons">
                  <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div> -->
             
            </div>     
            <br>
            <br>
          <div class="container">

           
            <div class="row wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">    
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <iframe id="map" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/view?zoom=17&center=33.7683%2C-118.1994&key=AIzaSyCvH557aGG8tfyJtq-HQUkifCC9Kpwf1SU"></iframe>
                <br>
                <br>
              </div> 
              
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="contact-block">
                  <form id="contactForm" action="/contact" method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                          <div class="help-block with-errors"></div>
                        </div>                                 
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                          <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <input type="text" placeholder="Your Phone Number" id="phone" class="form-control" name="name" required data-error="Please enter your phone number">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <input type="text" placeholder="Your Job Title" id="jobTitle" class="form-control" name="name" required data-error="Please enter your job title">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <input type="text" placeholder="Your Company" id="company" class="form-control" name="name" required data-error="Please enter your company">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <input type="text" placeholder="Liquidity" id="liquidity" class="form-control" name="name" required data-error="Please enter your liquidity">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      <div class="col-md-12">
                        <div class="form-group"> 
                          <textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                        <div class="submit-button text-center">
                          <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                          <div id="msgSubmit" class="h3 text-center hidden"></div> 
                          <div class="clearfix"></div> 
                        </div>
                      </div>
                    </div>            
                  </form>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>           
    </section>
    <!-- Contact Section End -->

    <%- include('../partials/footer') %>


  </body>
</html>