  <!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  

     <!-- Contact Section Start -->
     <section id="contact" class="section" data-stellar-background-ratio="-0.2" style="min-height: 92vh;">      
      <div class="contact-form" style="padding-top: 3%;">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title">Contact Us</h2>
            <hr class="lines">
          </div>
          <div class="row contact-us">
                
               
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <p>1 World Trade Center, Long Beach Ca, Suite 130</p>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <p class="phone">Phone: <span>(858) 68-BAKHU/ (858) 682-2548</span></p>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-xs-12">
                    <p class="email">E-mail: <span>info@bakhuholdings.com</span></p>
                  </div>
                  
                </div>

                <!-- <div class="social-icons">
                  <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div> -->
             
            </div>     
            <br>
            <br>
          <div class="container">

           
            <div class="row">    
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div id="map"></div>
              </div> 
              
              <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="contact-block">
                  <form id="contactForm" action="/contact" method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                          <div class="help-block with-errors"></div>
                        </div>                                 
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" placeholder="Your Phone Number" id="phone" class="form-control" name="name" required data-error="Please enter your phone number">
                          <div class="help-block with-errors"></div>
                        </div> 
                      </div>
                      <div class="col-md-12">
                        <div class="form-group"> 
                          <textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                        <div class="submit-button text-center">
                          <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                          <div id="msgSubmit" class="h3 text-center hidden"></div> 
                          <div class="clearfix"></div> 
                        </div>
                      </div>
                    </div>            
                  </form>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>           
    </section>
    <!-- Contact Section End -->



    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIOsYPGs1GsqWgfI6XPZq6q1YiCM1gbRs&callback=initMap">
    </script>

    <script>
      let map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 16
        });
      };
      initMap();
    </script>

    <%- include('../partials/footer') %>


  </body>
</html>