



  <!DOCTYPE html>
  <html lang="en">
    <head>
      <%- include('../partials/header') %>
    </head>
    <body>
  
     <%- include('../partials/navbar_alt') %>
    
  
      <!-- Blog Section -->
        <section id="" class="section container corpgov" >
         <div class="container col-md-12 col-sm-12">
            <div class="section-header">          
            <h2 class="section-title">Corporate Governance</h2>
            <hr class="lines">
            <!-- <p class="section-subtitle white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
            </div>
            <div class="row" id="">
            <p class="">
        The Board of Directors of the Company have the duty to serve as a prudent fiduciary for shareholders and have a long-standing commitment to conduct business in compliance with applicable laws, regulations and in accordance with the highest ethical principles. In this regard, the Board of Directors has adopted governance principles, committee charters and policies to lead our governance practices. We believe that effective corporate governance is critical to the continued and long-term success of Bakhu and contributes to maximized Shareholder value over time.
            </p>
            <div class="docs" style="width: 100%; ">
              <br>
              <br>
                <h5 class="" style="font-size: 25px;">
                Documents
                </h5>
                <hr class="lines">
                <br>
                <a href="docs/Bakhu - Code of Ethics_Adopted_2020-9-22.pdf">Code of Ethics</a>
                <br>
                <a href="docs/Bakhu - Audit Committee Charter_Adopted_2020-9-22.pdf">Audit Committee Charter</a>
                <br>
              <br>
            </div>
            <p class="" style="width: 100%;">
        The guidelines are subject to modification from time to time as the Board of Directors deems appropriate in the best interests of the Company or as required by applicable laws and regulations.
            </p>
            <br>
            <br>
            <br>
            <br>
            <h5 class="docs " style="width: 100%; font-size: 25px;">Legal Notices</h5>
            <hr class="lines">
            <p>
            <br>
            <br>
        <h6 class="docs bold-under" style="width: 100%;">Forward-Looking Statements</h6>
        <br>
        This website contains, and certain matters discussed in Bakhu Holdings, Corp. (“Bakhu”) financials and reports contain, forward-looking statements that could be subject to certain risks and uncertainties that could cause actual results to differ materially from current trends. These include the growth of the Company’s product line markets; the Company's expectations regarding revenues and cash from operations in future periods and expected future operating results; future opportunities for Bakhu; Managements ability to fund operation from cash-flow or financing activities; the Company's ability to fulfill orders in the future; competition; plans or prospects expressed by the management of Bakhu and other such risks cited in the Companies’ filings.
        <br>
        All forward-looking statements are based on information currently available to Bakhu and the Company does not assume any obligation to update or revise any forward-looking statements.
        <br>
        <br>
        <h6 class="docs bold-under" style="width: 100%;">Patents and Trademarks</h6>
        <br>
        Bakhu retains all copyrights in any text, graphic images, and software owned by Bakhu and hereby authorizes you to electronically copy documents published herein solely for the purpose of transmitting or viewing the information. You may not copy, modify or otherwise alter any files in this website for rebroadcast, or print the information contained therein, without written permission from Bakhu. Except as expressly provided above, nothing contained herein shall be construed as conferring any license or right under any Bakhu copyright, patent or trademark. 
        <br>
        <br>
        <h6 class="docs bold-under" style="width: 100%;">Other</h6>
        <br>
        The information contained on this website, and any publication posted thereon, including text, images, and links, are provided "AS IS" solely as a convenience to its customers, and WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. 
        <br>
        Bakhu assumes no responsibility for errors or omissions on this website, or in any publication or other documents posted thereon, which are referenced by, or linked to this website. This could include technical or other inaccuracies, and not all products or services referenced herein are available in all areas. Changes are periodically added to the information, and Bakhu may change the products or services described in this publication at any time.
        <br>
        Should you choose to respond directly to Bakhu with comments, questions, suggestions, ideas or the like relating to this website, or Bakhu products and services, you agree that such information shall be deemed as non-confidential and Bakhu shall have no obligation to respond and be free to reproduce, use, disclose and distribute the information to others without limitation, including but not limited to developing, manufacturing, and marketing products incorporating such information.

            </p>
            </div>
        </div>


        </section>
        <!-- blog Section End -->
      
  
  
  
      
  
      <%- include('../partials/footer') %>
  
  
    </body>
  </html>