<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Bakhu Holdings</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo/favicon.ico"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/line-icons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/main.css">    
    <link rel="stylesheet" href="css/responsive.css">

  </head>
  <body>

    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a  class="navbar-brand"><img class="img-fulid" id="nav-logo" src="img/logo/white2.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#hero-area">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#services">Vision</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#features">Science/Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#blog">Press</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
           <li>
              <a class="page-scroll" href="#hero-area">Home</a>
            </li>
            <li>
              <a class="page-scroll" href="#services">Vision</a>
            </li>
            <li>
              <a class="page-scroll" href="#features">Science/Technology</a>
            </li>
            <li>
              <a class="page-scroll" href="#team">Team</a>
            </li>
            <li >
              <a class="page-scroll" href="#blog">Press</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->   
      <div class="container">      
        <div class="row justify-content-md-center">
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Bakhu Holdings</h1>
              <!-- <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
              <!-- <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Download</a> -->
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="contents text-center">
              <div class="ticker">
                <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"><%= ticker.symbol %></h1>
                <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">$<%= ticker.latestPrice %></p>
                <p class="lead  wow fadeIn date" data-wow-duration="1000ms" data-wow-delay="400ms"><%= ticker.formattedDate %></p>
              </div>
              <!-- <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Download</a> -->
            </div>
          </div>
        </div> 
      </div>           
    </header>
    <!-- Header Section End --> 

    <!-- Services Section Start -->
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Vision</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">SHAPING THE FUTURE OF BIOTECHNOLOGY</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <p>Bakhu Holdings, through mergers, acquisitions, Strategic Alliance Agreements (SAA) , partnerships and joint ventures and licensing agreements with the scientific community and our significant experience in operations, plant science and processing and finance, we will identify priority markets, conduct independent research on potential investments, and make recommendations on execution.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <p>Our team of researchers uses targeted data, deep analysis, and real-time intelligence to answer the most important questions. Our products and opportunities are designed to improve efficiency, maximize yields and increase profits for larger commercial customers and smaller boutique operators. With our insights, you will capitalize on undervalued opportunities.</p>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Features Section Start -->
    <section id="features" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Science / Technology</h2>
          <hr class="lines">
          <p class="section-subtitle">Cell Science's groundbreaking and innovative technology is undeniably cost and space effective, and we are on pace to revolutionize the extraction game. Our results are third party verified and proven. </p>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="container">
              <div class="row">
                 <div class="col-lg-4 col-sm-12 col-xs-12 box-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <span class="icon">
                      <i class="lnr lnr-rocket"></i>
                    </span>
                    <div class="text">
                      <h4>Science</h4>
                      <p>Our intellectually protected and patent pending technology is revolutionary. We harvest directly from the cells enabling us to produce a higher potency, more supreme product than traditional cannabinoid distilleries in a fraction of the space-at a fraction of the cost. </p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-xs-12 box-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                      
                        <!-- <img class="img-fulid" src="img/features/feature.png" alt=""> -->
                        <video width="100%" height="100%" autoplay controls style="padding: 5px;">
                            <source src="https://video.wixstatic.com/video/2e154f_c5f987de41b14c93828d73dcf5291bf3/1080p/mp4/file.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                          </video>
                      
                    </div>
                  <div class="col-lg-4 col-sm-12 col-xs-12 box-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <span class="icon">
                      <i class="lnr lnr-laptop-phone"></i>
                    </span>
                    <div class="text">
                      <h4>Technology</h4>
                      <p>Our scientific team is comprised of some of the most experienced and talented minds in the biotechnology.

 

                        With well over a combined 25 years of experience, there is no shortage of brainpower at Cell Science LTD. As a matter of fact, it is our fueling agent.  </p>
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-layers"></i>
                    </span>
                    <div class="text">
                      <h4>Parallax Background</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-cog"></i>
                    </span>
                    <div class="text">
                      <h4>Easy to Customize</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section> 
    <!-- Features Section End -->    
    
    <!-- Team section Start -->
    <section id="team" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Our Team</h2>
          <hr class="lines">
          <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="img/team/t1.jpeg" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Thomas K Emmitt</h4>
                  <p>CEO</p>
                  <p class="team-bio">Thomas K. Emmitt, 57, graduated from Sonoma State University, and West Los Angeles School
                    of Law. Among Mr. Emmitt’s many successes are - he has proceeded over civil litigation for over
                    20-years and has successfully prosecuted over 400 civil cases ranging from personal injury, and
                    employment law. Mr. Emmitt’s forte is strategic planning especially in business development,
                    and financial analysis.</p>
                  <!-- <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="img/team/t2.jpeg" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Donald Clark,</h4>
                  <p>Senior Project Manager</p>
                  <p class="team-bio">Donald has the lead on various primary activities associated with the Cell Science technology
                    implementation: Supporting scientists in the build out Cell Science laboratory and processes for
                    scaling efficacy, prepping in coordination with counsel the licensing strategy, supporting IP
                    documentation, and coordinating compliance with regulatory authorities.
                    He is a seasoned executive with over thirty years of entrepreneurial experience in founding,
                    funding, and scaling technology enabled start-ups.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="img/team/t3.jpeg" alt="">
              <div class="team-details">
                <div class="team-inner">                  
                  <h4 class="team-title">Dr. Peter Whitton</h4>
                  <p>Lead Biochemist</p>
                  <p class="team-bio">Dr. Peter Whitton, holds a BSC in Biology with Chemistry and a PhD in Biochemistry. With 20-
                    years in the microbiology, and biochemistry field, Dr. Whitton, is known as a leader in the plant
                    cell culturing science arena. Dr. Whitton has a patent that’s known as “bio-technology” patent,
                    with a focus on plant cell technology for industrial application. Dr. Whitton, also co-founded
                    Lykke Research, and PhytoCyto Pty. Dr. Whitton also acts as an advisory to GlaxoSmithKline and
                    Boot, along with Pfizer.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img class="img-fulid" src="img/team/t4.jpeg" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Aristotle Popolizio</h4>
                  <p>Investor Relations</p>
                  <p class="team-bio">Aristotle Popolizio, has a BS in Risk Management and a Minor in International Business from the
                    Smeal college of The Pennsylvania State University. Aristotle is the Head of Investor Relations at
                    Inter-M. Aristotle has both a series 7, and series 66. His role is providing advisory services in
                    managerial, marketing and business coordinating.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section End -->

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title white-text">Press Release</h2>
          <hr class="lines" style="border-top-color: white;">
          <!-- <p class="section-subtitle white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
        </div>
        <div class="row" id="blog-container">
          <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <div class="blog-item-wrapper wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="blog-item-img">
                <a href="">
                  <img src="img/blog/img1.jpg" alt="">
                </a>                
              </div>
              <div class="blog-item-text"> 
                <h3>
                  <a href="">Lorem ipsum dolor sit amet?</a>
                </h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... 
                </p>
                <a href="" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- Contact Section Start -->
    <section id="contact" class="section" data-stellar-background-ratio="-0.2">      
      <div class="contact-form">
        <div class="container">
          <div class="row">     
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-us">
                <h3>Contact Us</h3>
                <div class="contact-address">
                  <p>1 World Trade Center, Long Beach Ca, Suite 140</p>
                  <p class="phone">Phone: <span>1(310)804-7037</span></p>
                  <p class="email">E-mail: <span>info@bakhuholdings.com</span></p>
                </div>
                <!-- <div class="social-icons">
                  <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div> -->
              </div>
            </div>     
            <!-- <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-block">
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button text-center">
                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div> -->
          </div>
        </div>
      </div>           
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer>          
      <div class="container">
        <div class="row">
          <!-- Footer Links -->
          <!-- <div class="col-lg-6 col-sm-6 col-xs-12">
            <ul class="footer-links">
              <li>
                <a href="#">Homepage</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">About Us</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div> -->
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="copyright">
              <p>All copyrights reserved &copy; 2019 - Designed & Developed by Dev Dragon</p>
            </div>
          </div>  
        </div>
      </div>
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>
    
    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>     

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="js/jquery-min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mixitup.js"></script>
    <script src="js/nivo-lightbox.js"></script>
    <script src="js/owl.carousel.js"></script>    
    <script src="js/jquery.stellar.min.js"></script>    
    <script src="js/jquery.nav.js"></script>    
    <script src="js/scrolling-nav.js"></script>    
    <script src="js/jquery.easing.min.js"></script>    
    <script src="js/smoothscroll.js"></script>    
    <script src="js/jquery.slicknav.js"></script>     
    <script src="js/wow.js"></script>   
    <script src="js/jquery.vide.js"></script>
    <script src="js/jquery.counterup.min.js"></script>    
    <script src="js/jquery.magnific-popup.min.js"></script>    
    <script src="js/waypoints.min.js"></script>    
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>   
    <script src="js/main.js"></script>

  </body>
</html>