<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a  class="navbar-brand light-logo"><img class="img-fulid" id="nav-logo" src="img/logo/BakhuHoldings_Logo_Horizontal_ColorLight.png" alt=""></a>
            <a  class="navbar-brand dark-logo"><img class="img-fulid" id="nav-logo" src="img/logo/BakhuHoldings_Logo_Horizontal_ColorDark.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="/team">Our Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/corpgov">Corporate Governance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/contact">Contact</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/management">About Us</a>
                <ul class="sub-menu">
                  <li class="sub-nav-item">
                    <a href="/our-story">Our Story</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/management">Management</a>
                  </li>
                </ul> 
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="/blank">Cell Science</a>
                <ul class="sub-menu">
                  <li class="sub-nav-item">
                    <a href="/blank">Team</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Technology</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/blank">Patents</a>
                  </li>
                </ul> 
              </li> -->
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/stock-info">Investors</a>
                <ul class="sub-menu">
                  <li class="sub-nav-item">
                    <a href="/stock-info">Stock Info</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/secfilings">SEC Filings</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/corpgov">Corporate Governance</a>
                  </li>
                  <li class="sub-nav-item">
                    <a href="/investors">Investor Relations / Transfer Agent</a>
                  </li>
                </ul> 
              </li> 
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/news">News & Media</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
           <li>
              <a class="page-scroll bold" href="/">Home</a>
            </li>
            <li>
              <a class="page-scroll bold" href="/management">About Us</a>
            </li>
            <div class="mobile-sub">
              <li>
                <a href="/our-story">Our Story</a>
              </li>
              <li>
                <a href="/management">Management</a>
              </li>
            </div>
            <li>
              <a class="page-scroll bold" href="/contact">Investors</a>
            </li>
            <div class="mobile-sub">
              <li>
                <a href="/stock-info">Stock Info</a>
              </li>
              <li>
                <a href="/secfilings">SEC Filings</a>
              </li>
              <li>
                <a href="/corpgov">Corporate Governance</a>
              </li>
              <li>
                <a href="/investors">Investor Relations / Transfer Agent</a>
              </li>
            </div>
            
            <li>
              <a class="page-scroll bold" href="/news">News & Media</a>
            </li>
            <li>
              <a class="page-scroll bold" href="/contact">Contact</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->   
      <div class="container">      
        <div class="row justify-content-md-center">
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Bakhu Holdings</h1>
              <!-- <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
              <!-- <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Download</a> -->
            </div>
          </div>
         
        </div> 
      </div>           
    </header>
    <!-- Header Section End --> 

    <!-- Services Section Start -->
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Business</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">SHAPING THE FUTURE OF BIOTECHNOLOGY</p>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <p>Bakhu Holdings, Corp. holds a license to cell replication technology and related proprietary equipment, processes, and formulations to produce, manufacture, and sell cannabis-related byproducts—sometimes referred in the industry as cannabinoids—exclusively in North and Central America and the Caribbean. Upon successful completion of an efficacy demonstration of the commercial viability of the technology, we intend to exploit this intellectual property through sublicenses with third parties that will incorporate the cell replication technology into production plants they fund and build to produce medical, food additive, and recreational cannabis-related products.</p>
            </div>
          </div>
          <!-- <div class="col-md-6 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <p>Our team of researchers uses targeted data, deep analysis, and real-time intelligence to answer the most important questions. Our products and opportunities are designed to improve efficiency, maximize yields and increase profits for larger commercial customers and smaller boutique operators. With our insights, you will capitalize on undervalued opportunities.</p>
            </div>
          </div> -->
          
        </div>
      </div>
    </section>
    <!-- Services Section End -->


<!-- Features Section Start -->
<section id="features" class="section" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="section-header">          
      <h2 class="section-title">Get In Touch</h2>
      <!-- <hr class="lines"> -->
      <!-- <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">BUILDING THE FUTURE TOGETHER</p> -->
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="container text-center" style="height: 200px;">
          <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
            <!-- <p>Our team of researchers uses targeted data, deep analysis, and real-time intelligence to answer the most important questions. Our products and opportunities are designed to improve efficiency, maximize yields and increase profits for larger commercial customers and smaller boutique operators. With our insights, you will capitalize on undervalued opportunities.</p> -->
          </div>
          <a class="page-scroll hover-pointer" style="color: white;" href="/contact">
            <button class="btn btn-common" >
              Contact
            </button>
          </a>  
        </div>
      </div>
    </div>
    
  </div>
  </section>

    
    <!-- Features Section Start -->
    <!-- <section id="features" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Science / Technology</h2>
          <hr class="lines">
          <p class="section-subtitle">Cell Science's groundbreaking and innovative technology is undeniably cost and space effective, and we are on pace to revolutionize the extraction game. Our results are third party verified and proven. </p>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="container">
              <div class="row">
                 <div class="col-lg-4 col-sm-12 col-xs-12 box-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <span class="icon">
                      <i class="lnr lnr-rocket"></i>
                    </span>
                    <div class="text">
                      <h4>Science</h4>
                      <p>Our intellectually protected and patent pending technology is revolutionary. We harvest directly from the cells enabling us to produce a higher potency, more supreme product than traditional cannabinoid distilleries in a fraction of the space-at a fraction of the cost. </p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-xs-12 box-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                      
                        <img class="img-fulid" src="img/features/feature.png" alt=""> 
                        <video width="100%" height="100%" autoplay controls style="padding: 5px;">
                            <source src="video/cell.webm" type="video/webm">
                          Your browser does not support the video tag.
                          </video>
                      
                    </div>
                  <div class="col-lg-4 col-sm-12 col-xs-12 box-item wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <span class="icon">
                      <i class="lnr lnr-laptop-phone"></i>
                    </span>
                    <div class="text">
                      <h4>Technology</h4>
                      <p>Our scientific team is comprised of some of the most experienced and talented minds in the biotechnology.

 

                        With well over a combined 25 years of experience, there is no shortage of brainpower at Cell Science LTD. As a matter of fact, it is our fueling agent.  </p> -->
                    <!-- </div>
                  </div> -->
                  <!-- <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-layers"></i>
                    </span>
                    <div class="text">
                      <h4>Parallax Background</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-cog"></i>
                    </span>
                    <div class="text">
                      <h4>Easy to Customize</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                  </div> -->
              <!-- </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>  -->
    <!-- Features Section End -->    
        

   

    <%- include('../partials/footer') %>


  </body>
</html>