<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Boka44">
    <title>Bakhu Holdings</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo/favicon.ico"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">    

  </head>
  <body>

    <div class="mainBox container">
      <div class="logo-container row">
        <div class="col-sm-12">
          <div id="logo">
            <img class="img-fluid" src="img/logo/white2.png" alt="">
          </div>
          
        </div>

      </div>
      <div class="text-container row">
        <div class="col-sm-12 text-center">
          <div>We'll Be Back Soon</div>
          <div>Bakhu Holdings is preparing something exciting for you</div>
          <div>Stay tuned...</div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12" style="margin-left: 2%;">
          <div id="gearsContainer">

            <div class="gear1Container"><div class="gear1">
            <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div></div>
            
            <div class="gear2Container"><div class="gear2">
            <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div></div>
            
            <div class="gear3Container"><div class="gear3">
            <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div></div>
            
            </div>
        </div>

      </div>
    </div>
    <div class="email text-center">
      email: info@bakhuholdings.com
    </div>
    
    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>     

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="js/jquery-min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>