<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  

    
    
   

    <!-- Blog Section -->
    <section id="blog" class="section padding-top">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Investor Relations - Transfer Agent</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        </div>
        <div class="row wow fadeIn" id="" data-wow-delay="0.3s" data-wow-duration="1000ms">
          <div class="col-md-6 col-sm-12">
            <br>
            <br>
            <br>
            <br>
            <p><strong>INVESTOR RELATIONS</strong></p>
            <p>Bakhu Holdings, Corp.<br>Investors Relations<br>One World Trade Center, Suite 130, Long Beach CA 90831<br>858-682-2548</p><p><br></p>
            <p><strong>TRANSFER AGENT</strong></p>
            <p>Colonial Stock Transfer<br>66 Exchange Pl.<br>Salt Lake City, UT 84111<br>801-355-5740</p>
            <p><a href="https://www.colonialstock.com">www.colonialstock.com</a></p>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <br>
            <br>
            <br>
            <br>
              <img src="img/logo/PNG/BakhuHoldings_Logo_Stacked_ColorDark.png" width="50%">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    

    <%- include('../partials/footer') %>


  </body>
</html>