<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  

    
    
   

    <!-- Blog Section -->
    <section id="blog" class="section" style="padding-top: 200px; min-height: 91vh;">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">News & Media</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <br>
          <div class="form-group">
            <p style="color: black;">To stay up to date with all of Bakhu Holdings current news and media, please enter your email in the box below. We will share exciting news about our incredible science and process, as well as opportunities for capital investment and licensing of our patent protected process. </p>
            <input type="text" class="form-control" id="email" name="email" placeholder="Your Email" required data-error="Please enter your email">
            <div class="help-block with-errors"></div>
            <button class="btn btn-common" id="submit" type="submit" onclick="submitNewsletterForm()">Sign Up!</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div> 
            <div class="clearfix"></div> 
          </div>
          <!-- <p class="section-subtitle white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
        </div>
        <div class="row" id="blog-container" >
          <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div>Download</div>
            <ul>
              <li>
                <a class="pdf-container" href="docs/Bakhu-10-1-2020-Operations-Update.pdf" target="blank">
                  10-1-2020 Operations Update
                </a>
              </li>
              <hr>
              <li>
                <a class="pdf-container" href="docs/Bakhu-7-14-2020-Operations-Update.pdf" target="blank">
                  7-14-2020 Operations Update
                </a> 
              </li>
            </ul>
          </div>
          
          <div class="col-md-6 col-sm-12 wow fadeInDown text-center lab-img" data-wow-delay="0.8s">
            <img src="img/lab2.jpg">
            
          </div>
          
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    

    <%- include('../partials/footer') %>


  </body>
</html>