<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  

    
    
   

    <!-- Blog Section -->
    <section id="blog" class="section" style="padding-top: 200px; min-height: 91vh;">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">News & Media</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <!-- <p class="section-subtitle white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
        </div>
        <div class="row" id="blog-container" >
          <div class="col-md-12 col-sm-12 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div>Download</div>
            <ul>
              <li>
                <a class="pdf-container" href="docs/Bakhu-10-1-2020-Operations-Update.pdf" target="blank">
                  10-1-2020 Operations Update
                </a>
              </li>
              <hr>
              <li>
                <a class="pdf-container" href="docs/Bakhu-7-14-2020-Operations-Update.pdf" target="blank">
                  7-14-2020 Operations Update
                </a> 
              </li>
            </ul>
          </div>
          <!-- <div class="col-md-6 col-sm-12">
             <img src=""> 
          </div> -->
          
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    

    <%- include('../partials/footer') %>


  </body>
</html>