<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  
  

   <section id="services" class="section padding-top">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our Story</h2>
        <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">SHAPING THE FUTURE OF BIOTECHNOLOGY</p>
      </div>
      <div class="row">
        <!-- <div class="col-md-4 col-sm-12">
  

            <div class="project-container"> 
                <div class="dna-strain">
                  <div class="dna-line dna-line-0"><i class="circle circle-left"></i><b class="line">0</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-1"><i class="circle circle-left"></i><b class="line">1</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-2"><i class="circle circle-left"></i><b class="line">2</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-3"><i class="circle circle-left"></i><b class="line">3</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-4"><i class="circle circle-left"></i><b class="line">4</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-5"><i class="circle circle-left"></i><b class="line">5</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-6"><i class="circle circle-left"></i><b class="line">6</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-7"><i class="circle circle-left"></i><b class="line">7</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-8"><i class="circle circle-left"></i><b class="line">8</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-9"><i class="circle circle-left"></i><b class="line">9</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-10"><i class="circle circle-left"></i><b class="line">10</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-11"><i class="circle circle-left"></i><b class="line">11</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-12"><i class="circle circle-left"></i><b class="line">12</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-13"><i class="circle circle-left"></i><b class="line">13</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-14"><i class="circle circle-left"></i><b class="line">14</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-15"><i class="circle circle-left"></i><b class="line">15</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-16"><i class="circle circle-left"></i><b class="line">16</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-17"><i class="circle circle-left"></i><b class="line">17</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-18"><i class="circle circle-left"></i><b class="line">18</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-19"><i class="circle circle-left"></i><b class="line">19</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-20"><i class="circle circle-left"></i><b class="line">20</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-21"><i class="circle circle-left"></i><b class="line">21</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-22"><i class="circle circle-left"></i><b class="line">22</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-23"><i class="circle circle-left"></i><b class="line">23</b><i class="circle circle-right"></i></div>
                </div>
              </div>


          </div> -->
        <div class="col-md-8 col-sm-12">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                <p>We hold a license to plant cell replication technology and related proprietary equipment, processes, and formulations to produce, manufacture, and sell cannabis-related byproducts—sometimes referred in the industry as cannabinoids—exclusively in North and Central America and the Caribbean for medical, food additive, and recreational uses. Upon successful completion of a full-scale demonstration of the commercial viability of the technology, which we refer to as the “Efficacy Demonstration,” we intend to exploit this intellectual property through sublicenses with third parties that will incorporate the cell replication technology into production plants they fund and build to produce medical, food additive, and recreational cannabis-related products. We cannot assure whether or when these benchmarks will be achieved or whether the Efficacy Demonstration will be partially or fully successful.</p>          
                <br>
                <p>We intend to enter into sublicenses to commercialize cell-extraction and replication technology and related proprietary equipment, processes, and medium formulations to produce, manufacture, and sell cannabis-related byproducts exclusively in North and Central America and the Caribbean for medical, food additive, and recreational uses, subject to successful completion and third-party verification of commercial efficacy meeting agreed criteria, which we call the Efficacy Demonstration. Cannabis products contain cannabinoids, which are naturally occurring compounds found in the Cannabis sativa plant that principally include cannabidiol (CBD) which is generally associated with medical applications, and Tetrahydrocannabinol (THC), which is generally associated with recreational uses.  We obtained a license to this technology in December 2018 from our direct and direct controlling stockholder, Cell Science Holding Ltd. (“Cell Science”).</p>
            </div>
            
        </div>
        
        <div class="col-md-3 col-sm-12">

            <div class="project-container" style="margin-top: -60px;"> 
                <div class="dna-strain">
                  <div class="dna-line dna-line-0"><i class="circle circle-left"></i><b class="line">0</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-1"><i class="circle circle-left"></i><b class="line">1</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-2"><i class="circle circle-left"></i><b class="line">2</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-3"><i class="circle circle-left"></i><b class="line">3</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-4"><i class="circle circle-left"></i><b class="line">4</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-5"><i class="circle circle-left"></i><b class="line">5</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-6"><i class="circle circle-left"></i><b class="line">6</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-7"><i class="circle circle-left"></i><b class="line">7</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-8"><i class="circle circle-left"></i><b class="line">8</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-9"><i class="circle circle-left"></i><b class="line">9</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-10"><i class="circle circle-left"></i><b class="line">10</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-11"><i class="circle circle-left"></i><b class="line">11</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-12"><i class="circle circle-left"></i><b class="line">12</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-13"><i class="circle circle-left"></i><b class="line">13</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-14"><i class="circle circle-left"></i><b class="line">14</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-15"><i class="circle circle-left"></i><b class="line">15</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-16"><i class="circle circle-left"></i><b class="line">16</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-17"><i class="circle circle-left"></i><b class="line">17</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-18"><i class="circle circle-left"></i><b class="line">18</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-19"><i class="circle circle-left"></i><b class="line">19</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-20"><i class="circle circle-left"></i><b class="line">20</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-21"><i class="circle circle-left"></i><b class="line">21</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-22"><i class="circle circle-left"></i><b class="line">22</b><i class="circle circle-right"></i></div>
                  <div class="dna-line dna-line-23"><i class="circle circle-left"></i><b class="line">23</b><i class="circle circle-right"></i></div>
                </div>
              </div>


          </div>
      </div>
    </div>
  </section>
    

    <%- include('../partials/footer') %>


  </body>
</html>