<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  
  

   <section id="services" class="section padding-top">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Stock Info</h2>
        <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"><strong>Forward Looking Statements</strong></p>
      </div>
      <div class="row">
        <!-- <div class="col-md-6 col-sm-12">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <img src="img/logo/white2.png" width="80%">
            </div>
          </div> -->
        <div class="col-md-12 col-sm-12">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                <p>This website contains, and certain matters discussed in Bakhu Holdings, Corp. (“Bakhu”) financials and reports contain, forward-looking statements that could be subject to certain risks and uncertainties that could cause actual results to differ materially from current trends. These include the growth of the Company’s product line markets; the Company’s expectations regarding revenues and cash from operations in future periods and expected future operating results; future opportunities for Bakhu's Management’s ability to fund operation from cash-flow or financing activities; the Company’s ability to fulfill orders in the future; competition; plans or prospects expressed by the management of Bakhu and other such risks cited in the Companies’ filings. All forward-looking statements are based on information currently available to Bakhu and the Company does not assume any obligation to update or revise any forward-looking statements.</p>          
                <br>
                <p>The shares of Bakhu Holdings Corp. trade on the OTC Markets Pink Tier. Investors can find real time quotes, disclosure and financial information about Bakhu under the trading symbol BKUH.</p>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="tradingview-widget-container">
                <div id="tradingview_db4ad" class="stock-info"><div id="tradingview_d296b-wrapper" style="position: relative;box-sizing: content-box;width: 100%;height: 100%;margin: 0 auto !important;padding: 0 !important;font-family:Arial,sans-serif;"><div style="width: 100%;height: 100%;background: transparent;padding: 0 !important;"><iframe id="tradingview_d296b" src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_d296b&amp;symbol=otc%3Abkuh&amp;interval=1&amp;range=3m&amp;hidetoptoolbar=1&amp;saveimage=1&amp;toolbarbg=f1f3f6&amp;details=1&amp;studies=%5B%5D&amp;theme=Light&amp;style=3&amp;timezone=exchange&amp;withdateranges=1&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utm_source=data2.colonialfilings.com&amp;utm_medium=widget&amp;utm_campaign=chart&amp;utm_term=otc%3Abkuh" style="width: 100%; height: 100%; margin: 0 !important; padding: 0 !important;" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen=""></iframe></div></div></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                new TradingView.widget(
                {
                  "autosize": true,
                    "symbol": "otc:bkuh",
                  "timezone": "exchange",
                  "theme": "Light",
                  "style": "3",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "hide_top_toolbar": true,
                  "withdateranges": true,
                  "range": "3m",
                  "details": true,
                  "container_id": "tradingview_db4ad"
                });
                </script>
              </div>
        </div>
      </div>
    </div>

  </section>
    

    <%- include('../partials/footer') %>


  </body>
</html>