<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  

    
    
   
 <!-- Team section Start -->
 <section id="team" class="section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Directors</h2>
        <hr class="lines">
        <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="single-team">
            <img src="img/team/t1.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">Thomas K Emmitt</h4>
                <p>CEO</p>
                <p class="team-bio">Thomas K. Emmitt, 57, graduated from Sonoma State University, and West Los Angeles School
                  of Law. Among Mr. Emmitt’s many successes are - he has proceeded over civil litigation for over
                  20-years and has successfully prosecuted over 400 civil cases ranging from personal injury, and
                  employment law. Mr. Emmitt’s forte is strategic planning especially in business development,
                  and financial analysis.</p>
                <!-- <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="single-team">
            <img src="img/team/t2.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">Donald Clark,</h4>
                <!-- <p>Senior Project Manager</p> -->
                <p class="team-bio">Donald has the lead on various primary activities associated with the Cell Science technology
                  implementation: Supporting scientists in the build out Cell Science laboratory and processes for
                  scaling efficacy, prepping in coordination with counsel the licensing strategy, supporting IP
                  documentation, and coordinating compliance with regulatory authorities.
                  He is a seasoned executive with over thirty years of entrepreneurial experience in founding,
                  funding, and scaling technology enabled start-ups.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
        </div>
      </div>
    </div>
  </section>
  <!-- Team section End -->

  <!-- Team section Start -->
 <section id="team" class="section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Science Team</h2>
        <hr class="lines">
        <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-12"></div>
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="single-team">
            <img src="img/team/t3.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">                  
                <h4 class="team-title">Dr. Peter Whitton</h4>
                <!-- <p>Lead Biochemist</p> -->
                <p class="team-bio">Dr. Peter Whitton, holds a BSC in Biology with Chemistry and a PhD in Biochemistry. With 20-
                  years in the microbiology, and biochemistry field, Dr. Whitton, is known as a leader in the plant
                  cell culturing science arena. Dr. Whitton has a patent that’s known as “bio-technology” patent,
                  with a focus on plant cell technology for industrial application. Dr. Whitton, also co-founded
                  Lykke Research, and PhytoCyto Pty. Dr. Whitton also acts as an advisory to GlaxoSmithKline and
                  Boot, along with Pfizer.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-xs-12"></div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- Team section End -->
   

    

    <%- include('../partials/footer') %>


  </body>
</html>