<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>

   <%- include('../partials/navbar_alt') %>
  

    
    
<!--    
 <section id="team" class="section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Directors</h2>
        <hr class="lines">
        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="single-team">
            <img src="img/team/t1.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">Thomas K Emmitt</h4>
                <p>CEO</p>
                <p class="team-bio">Thomas K. Emmitt, 57, graduated from Sonoma State University, and West Los Angeles School
                  of Law. Among Mr. Emmitt’s many successes are - he has proceeded over civil litigation for over
                  20-years and has successfully prosecuted over 400 civil cases ranging from personal injury, and
                  employment law. Mr. Emmitt’s forte is strategic planning especially in business development,
                  and financial analysis.</p>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="single-team">
            <img src="img/team/t2.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">Donald Clark,</h4>
                <p class="team-bio">Donald has the lead on various primary activities associated with the Cell Science technology
                  implementation: Supporting scientists in the build out Cell Science laboratory and processes for
                  scaling efficacy, prepping in coordination with counsel the licensing strategy, supporting IP
                  documentation, and coordinating compliance with regulatory authorities.
                  He is a seasoned executive with over thirty years of entrepreneurial experience in founding,
                  funding, and scaling technology enabled start-ups.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
        </div>
      </div>
    </div>
  </section>


 <section id="team" class="section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Science Team</h2>
        <hr class="lines">
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-xs-12"></div>
        <div class="col-lg-4 col-md-12 col-xs-12">
          <div class="single-team">
            <img src="img/team/t3.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">                  
                <h4 class="team-title">Dr. Peter Whitton</h4>
                <p class="team-bio">Dr. Peter Whitton, holds a BSC in Biology with Chemistry and a PhD in Biochemistry. With 20-
                  years in the microbiology, and biochemistry field, Dr. Whitton, is known as a leader in the plant
                  cell culturing science arena. Dr. Whitton has a patent that’s known as “bio-technology” patent,
                  with a focus on plant cell technology for industrial application. Dr. Whitton, also co-founded
                  Lykke Research, and PhytoCyto Pty. Dr. Whitton also acts as an advisory to GlaxoSmithKline and
                  Boot, along with Pfizer.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-xs-12"></div>
        </div>
        
      </div>
    </div>
  </section> -->
   
  <!-- Team section Start -->
  <section id="team" class="section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Our Team</h2>
        <hr class="lines">
        <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="single-team">
            <img src="img/team/t1.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">Thomas K Emmitt</h4>
                <p>CEO & Director</p>
                <p class="team-bio">Mr. Emmitt was appointed as the Chief Executive Officer and a Director of the Company on May 15, 2018 and is current the sole officer and director. In addition to his role as a Director and the Chief Executive Officer of the Company, Mr. Emmitt is principal of the Law Office of Tom Emmitt, a law firm specializing in civil litigation. Mr. Emmitt has successfully prosecuted over 400 civil cases in the areas of personal injury and employment law. From March 2009 through January 2016, Mr. Emmitt was in-house counsel to Green Medica Holdings Corporation, a nutraceutical company specializing in mushroom derivatives and DHA/GPC products. Beginning in January 2016, and continuing through the present, Mr. Emmitt has been in-house counsel to the Oz Corporation, a management consulting company providing services to small and mid-cap companies, and overseeing processes, strategic planning, startup funding and recruitment of management executives. Finally, Mr. Emmitt has been the President of Belltower Entertainment Corp. (BTOW), a publicly traded entity since December 2017. Mr. Emmitt is experienced in all phases of financial analysis, information technology and marketing. Mr. Emmitt is a graduate of Ventura College, and the West Los Angeles School of Law.</p>
                <!-- <ul class="social-list">
                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="single-team">
            <img src="img/team/t2.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">Evripides (Roy) Drakos</h4>
                <p>Director</p>
                <p class="team-bio">is a strategy and business development associate for Viasat Inc., in California and a principal advisor for Private Equity investments in satellite engineering, renewable energy, satellite broadband, internet of things and cyber secure infrastructures, regulatory and licensing, patent development and investments while spearheading strategic partnerships with private and state own enterprises. Mr. Drakos is charismatic strategist and business development professional excelling in satellite communications, wireless networks, renewable energy and many more technocentric investment areas. Mr. Drakos has twenty five years of experience in satellite communications and a dozen years involved in special projects in the field of pioneering technology and marketing strategies accumulating unique skills and knowledge authority in the industry. Since 2017 to date Mr. Drakos has served as an Investment Advisor for Inter-M Traders Ltd., Private Equity Fund, focusing on private equity investment in edge technology, renewable energy, medical research, wireless network infrastructure and satellite communications. Mr. Drakos develops new business foundations attracting private equity investors and family offices on next generation technologies, performs technical-against-financial due diligence, evaluates structures global business expansion strategies and investment funding and design and delivers international fund syndication programs.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="single-team">
            <img src="img/team/t3.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">                  
                <h4 class="team-title">Dr. Peter Whitton</h4>
                <p>Director</p>
                <p class="team-bio">De. Peter Whitton is a well-respected expert in the fields of microbiology and biochemistry with over 20 years’ experience in his field, and is recognized as a leader in the field of plant cell culturing and research. Dr. Whitton has a BSC in Biology with Chemistry and a PhD in Biochemistry. He is a member of the Institute of Biology and a chartered biologist, a member of the Royal Society of Chemistry and a Fellow of the Institute of Biomedical Sciences. Dr. Whitton has wide ranging expertise, having provided advisory services to leading pharmaceutical companies such as GlaxoSmithKline and Boots on regulatory strategy, as well as directing research and providing toxicology advice to Pfizer. Dr. Whitton previously served as director and Chief Scientific Officer for Naturally Scientific Technologies Ltd., where he developed and patented methods for the production of glyceraldehyde from CO2 and the production of Lipids using plant cell culture technologies. Prior to joining Naturally Scientific Dr. Whitton ran and managed his own research organization, Phyto-Research Ltd., for five years and secured a number of patents in the field of plant tissue cultures and natural sciences, as well as providing research and advisory services to leading pharmaceutical companies and universities. During this period Dr. Whitton worked with The Serious and Organized Crime Directorate of the Metropolitan Police with Assistant Commissioner Tarique Gaffur on the development of new drug and explosive detection techniques. Dr. Whitton held the position of senior scientist for a number of years for an organization specializing in the preparation of herbal-based remedies and cosmetics and was responsible for research, quality and conformance with British Pharmacopeia Standards and compliance with Cosmetic Safety regulations. Dr. Whitton has successfully patented many bio-technology patents with a particular focus on the use of plant cell technology for industrial applications. Dr. Whitton was a co-founder and currently services as a director of Lykke Research Ltd., a bio-technology company that has developed and patented a process to produce the API from the Hoodia Gordonii plant from cell cultures for use in the dietary supplements market as an appetite suppressant. He is the co-founder and a director of PhytoCyte Pty, a bio-technology company that has developed a process to produce cannaboids and their API’s from cell cultures for the medicinal and recreational cannabis markets.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12" >
          <div class="single-team">
            <img class="img-fulid" src="img/team/t4.jpeg" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">Aristotle Popolizio</h4>
                <p>Vice President and Secretary</p>
                <p class="team-bio">Aristotle Popoliziois the head of Investment Relations at Inter-M Traders Ltd., a family office equity investment fund, with offices in Cyprus and New York City. Mr. Popolizio leads a team in research, raising capital and the development of operational risk management plans, and ensures the company is appropriately and strategically positioned with analysts, investors, and all stakeholders. Mr. Popolizio has a BS in Risk Management and a Minor in International Business from the Smeal college of The Pennsylvania State University. Mr. Popolizio provides advisory services in a wide variety of sectors, including pharmaceutical companies, bio-medical companies, CPA’s, attorneys, and government bodies. Mr. Popolizio holds licenses with FINRA (series 7 and series 66) and NIPR (life insurance, accident and health insurance, property insurance, and casualty insurance).</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team section End -->

    

    <%- include('../partials/footer') %>


  </body>
</html>